# ASSIGNMENT-1
WEB SCRAPING

In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per
the requirement of the question.
Every answer to the question should be in form of a python function which should take URL as the parameter.
Use Jupyter Notebooks to program, upload it on your GitHub and send the link of the Jupyter notebook to you SME

In [24]:
#importimg all liabraries
import pandas as pd

In [25]:
import numpy as np

In [26]:
#installation of Beautiful soup
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\user\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.2)

In [27]:
#importing after installation 
from bs4 import BeautifulSoup
import requests

In [28]:
#Ques 1 1) Write a python program to display all the header tags from wikipedia.org.

In [29]:
url = 'https://www.wikipedia.org/'

In [30]:
reqs = requests.get(url)

In [31]:
#list of headers

In [32]:
reqs = requests.get(url)
soup = BeautifulSoup(reqs.text, 'lxml')
print("List of all the h1, h2, h3 :")
for heading in soup.find_all(["h1", "h2", "h3"]):
    print(heading.name + ' ' + heading.text.strip())

List of all the h1, h2, h3 :
h1 Wikipedia

The Free Encyclopedia
h2 1 000 000+


articles
h2 100 000+


articles
h2 10 000+


articles
h2 1 000+


articles
h2 100+


articles

In [24]:
#headers with tags

In [25]:
url = "https://www.wikipedia.org/"
page = requests.get(url)
data = page.text
soup = BeautifulSoup(data)
soup.find_all('h1')

[<h1 class="central-textlogo-wrapper">
 <span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
 Wikipedia
 </span>
 <strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
 </h1>]

In [33]:
url = "https://www.wikipedia.org/"
page = requests.get(url)
data = page.text
soup = BeautifulSoup(data)
soup.find_all('h2')

[<h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 1 000 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 100 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 10 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 1 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 100+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>]

In [27]:
#2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
#and make data frame.?

In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [3]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'

In [4]:
page = requests.get(url)
page

In [7]:
soup = BeautifulSoup(page.content, "html.parser")

In [8]:
#Making empty list for append
movie_name=[]
Rate=[]
year=[]

In [9]:
#Sorting data
movie_data = soup.find_all('div', class_ = 'lister-item mode-advanced')

In [10]:
for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year_of_release = store.h3.find('span', class_= 'lister-item-year text-muted unbold').text.replace('\n',' ').replace(')','')
    year.append(year_of_release)
    
    Rating = store.find('div', class_= 'inline-block ratings-imdb-rating').text.replace('\n', '')
    Rate.append(Rating)

In [11]:
data = pd.DataFrame({'Movie Name':movie_name, 'Year of release':year, 'Rating': Rate})

In [12]:
#Ans
data.head(100)

                                       Movie Name Year of release Rating
0                        The Shawshank Redemption           (1994    9.3
1                                   The Godfather           (1972    9.2
2                      Rocketry: The Nambi Effect           (2022    9.0
3                                 The Dark Knight           (2008    9.0
4   The Lord of the Rings: The Return of the King           (2003    9.0
..                                            ...             ...    ...
95                             The Great Dictator           (1940    8.4
96                                     Chhichhore           (2019    8.3
97                                       Ratsasan           (2018    8.3
98                      Ayla: The Daughter of War           (2017    8.3
99                                   Vikram Vedha           (2017    8.3

[100 rows x 3 columns]

In [14]:
#Ques 3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
#release) and make data frame.

In [15]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/'

In [16]:
page = requests.get(url)
page

In [17]:
soup = BeautifulSoup(page.content, "html.parser")

In [18]:
scraped_movies = soup.find_all('td', class_= 'titleColumn')

In [19]:
movies = []
for movie in scraped_movies:
    movie = movie.get_text().replace('\n', "")
    movie = movie.strip(" ")
    movies.append(movie)
movies

['1.      Rocketry: The Nambi Effect(2022)',
 '2.      Anbe Sivam(2003)',
 '3.      Jai Bhim(2021)',
 '4.      Nayakan(1987)',
 '5.      Golmaal(1979)',
 '6.      Pariyerum Perumal(2018)',
 '7.      777 Charlie(2022)',
 '8.      3 Idiots(2009)',
 '9.      Apur Sansar(1959)',
 '10.      Manichitrathazhu(1993)',
 '11.      Kumbalangi Nights(2019)',
 '12.      Black Friday(2004)',
 '13.      Soorarai Pottru(2020)',
 '14.      #Home(2021)',
 '15.      C/o Kancharapalem(2018)',
 '16.      Taare Zameen Par(2007)',
 '17.      Kireedam(1989)',
 '18.      Dangal(2016)',
 '19.      Kaithi(2019)',
 '20.      Jersey(2019)',
 '21.      Maya Bazaar(1957)',
 '22.      96(2018)',
 '23.      Asuran(2019)',
 '24.      Thevar Magan(1992)',
 '25.      Visaaranai(2015)',
 '26.      Sarpatta Parambarai(2021)',
 '27.      Natsamrat(2016)',
 '28.      Drishyam 2(2021)',
 '29.      Thalapathi(1991)',
 '30.      Pather Panchali(1955)',
 '31.      Nadodikkattu(1987)',
 '32.      Sardar Udham(2021)',
 '33.      Thani Oruvan(2015)',
 '34.      Vada Chennai(2018)',
 '35.      Jaane Bhi Do Yaaro(1983)',
 '36.      Aparajito(1956)',
 '37.      Sita Ramam(2022)',
 '38.      Khosla Ka Ghosla!(2006)',
 '39.      Drishyam(2013)',
 '40.      Peranbu(2018)',
 '41.      Ratsasan(2018)',
 '42.      Anniyan(2005)',
 '43.      Chupke Chupke(1975)',
 '44.      Mahanati(2018)',
 '45.      Agent Sai Srinivasa Athreya(2019)',
 '46.      Premam(2015)',
 '47.      Vikram(2022)',
 '48.      Bangalore Days(2014)',
 '49.      Satya(1998)',
 '50.      Super Deluxe(2019)',
 '51.      Devasuram(1993)',
 '52.      Gangs of Wasseypur(2012)',
 '53.      Bhaag Milkha Bhaag(2013)',
 '54.      Drishyam(2015)',
 '55.      Aruvi(2016)',
 '56.      Andhadhun(2018)',
 '57.      Vikram Vedha(2017)',
 '58.      Chithram(1988)',
 '59.      Kannathil Muthamittal(2002)',
 '60.      Guide(1965)',
 '61.      Tumbbad(2018)',
 '62.      Iruvar(1997)',
 '63.      Sairat(2016)',
 '64.      Shahid(2012)',
 '65.      Zindagi Na Milegi Dobara(2011)',
 '66.      Paan Singh Tomar(2012)',
 '67.      Chhichhore(2019)',
 '68.      Mudhalvan(1999)',
 '69.      Spadikam(1995)',
 '70.      Dhuruvangal Pathinaaru(2016)',
 '71.      Pudhu Pettai(2006)',
 '72.      Swades: We, the People(2004)',
 '73.      Chak De! India(2007)',
 '74.      Uri: The Surgical Strike(2019)',
 '75.      Papanasam(2015)',
 '76.      Black(2005)',
 '77.      Mandela(2021)',
 '78.      Jo Jeeta Wohi Sikandar(1992)',
 '79.      Pyaasa(1957)',
 '80.      Munna Bhai M.B.B.S.(2003)',
 '81.      Soodhu Kavvum(2013)',
 '82.      Article 15(2019)',
 '83.      Queen(2013)',
 '84.      Kaakkaa Muttai(2014)',
 '85.      Lagaan: Once Upon a Time in India(2001)',
 '86.      Talvar(2015)',
 '87.      PK(2014)',
 '88.      Jigarthanda(2014)',
 '89.      OMG: Oh My God!(2012)',
 '90.      Hera Pheri(2000)',
 '91.      Sarfarosh(1999)',
 '92.      Theeran Adhigaaram Ondru(2017)',
 '93.      Udaan(2010)',
 '94.      Barfi!(2012)',
 '95.      Sholay(1975)',
 '96.      Ustad Hotel(2012)',
 '97.      The Legend of Bhagat Singh(2002)',
 '98.      Virumandi(2004)',
 '99.      Baahubali 2: The Conclusion(2017)',
 '100.      Angoor(1982)',
 '101.      Rang De Basanti(2006)',
 '102.      Jana Gana Mana(2022)',
 '103.      Baasha(1995)',
 '104.      Maheshinte Prathikaaram(2016)',
 '105.      Masaan(2015)',
 '106.      Kahaani(2012)',
 '107.      Shershaah(2021)',
 '108.      Dil Chahta Hai(2001)',
 '109.      A Wednesday(2008)',
 '110.      Kaun Pravin Tambe?(2022)',
 '111.      Roja(1992)',
 '112.      Pithamagan(2003)',
 '113.      Iqbal(2005)',
 '114.      Pink(2016)',
 '115.      Lage Raho Munna Bhai(2006)',
 '116.      Nil Battey Sannata(2015)',
 '117.      Anand(1971)',
 '118.      Lucia(2013)',
 '119.      Charulata(1964)',
 '120.      Alai Payuthey(2000)',
 '121.      Section 375(2019)',
 '122.      Oru Vadakkan Veeragatha(1989)',
 '123.      Omkara(2006)',
 '124.      Bajrangi Bhaijaan(2015)',
 '125.      Bommarillu(2006)',
 '126.      Bombay(1995)',
 '127.      K.G.F: Chapter 1(2018)',
 '128.      Indian(1996)',
 '129.      K.G.F: Chapter 2(2022)',
 '130.      The Great Indian Kitchen(2021)',
 '131.      Rangasthalam(2018)',
 '132.      Haider(2014)',
 '133.      Mughal-E-Azam(1960)',
 '134.      Dilwale Dulhania Le Jayenge(1995)',
 '135.      Maanaadu(2021)',
 '136.      Athadu(2005)',
 '137.      Maqbool(2003)',
 '138.      Thadam(2019)',
 '139.      Andaz Apna Apna(1994)',
 '140.      Special Chabbis(2013)',
 '141.      Vaaranam Aayiram(2008)',
 '142.      Android Kunjappan Version 5.25(2019)',
 '143.      Padayappa(1999)',
 '144.      Pelli Choopulu(2016)',
 '145.      Gulaal(2009)',
 '146.      Ulidavaru Kandanthe(2014)',
 '147.      Naduvula Konjam Pakkatha Kaanom(2012)',
 '148.      Deewaar(1975)',
 '149.      Badhaai ho(2018)',
 '150.      Ugly(2013)',
 '151.      Evaru(2019)',
 '152.      Kshanam(2016)',
 '153.      Vaastav: The Reality(1999)',
 '154.      Company(2002)',
 '155.      Major(2022)',
 '156.      Gully Boy(2019)',
 '157.      Padosan(1968)',
 '158.      Aadukalam(2011)',
 '159.      Maanagaram(2017)',
 '160.      Nayattu(2021)',
 '161.      Thondimuthalum Dhriksakshiyum(2017)',
 '162.      Dev.D(2009)',
 '163.      My Name Is Khan(2010)',
 '164.      Pranchiyettan and the Saint(2010)',
 '165.      Take Off(2017)',
 '166.      Baishe Srabon(2011)',
 '167.      Kal Ho Naa Ho(2003)',
 '168.      Ayyappanum Koshiyum(2020)',
 '169.      Dil Bechara(2020)',
 '170.      Jab We Met(2007)',
 '171.      Manjhi: The Mountain Man(2015)',
 '172.      Mukkabaaz(2017)',
 '173.      Super 30(2019)',
 '174.      Karnan(2021)',
 '175.      Arjun Reddy(2017)',
 '176.      Deiva Thirumagal(2011)',
 '177.      Border(1997)',
 '178.      Ship of Theseus(2012)',
 '179.      Charlie(2015)',
 '180.      Vedam(2010)',
 '181.      Bãhubali: The Beginning(2015)',
 '182.      Padman(2018)',
 '183.      Salaam Bombay!(1988)',
 '184.      Ankhon Dekhi(2013)',
 '185.      Jalsaghar(1958)',
 '186.      Baby(2015)',
 '187.      RRR (Rise Roar Revolt)(2022)',
 '188.      M.S. Dhoni: The Untold Story(2016)',
 '189.      Vinnaithaandi Varuvaayaa(2010)',
 '190.      Malik(2021)',
 '191.      Pizza(2012)',
 '192.      Kirik Party(2016)',
 '193.      The Tashkent Files(2019)',
 '194.      Hridayam(2022)',
 '195.      Hindi Medium(2017)',
 '196.      Memories(2013)',
 '197.      Lakshya(2004)',
 '198.      English Vinglish(2012)',
 '199.      Dor(2006)',
 '200.      Airlift(2016)',
 '201.      Joseph(2018)',
 '202.      Hey Ram(2000)',
 '203.      Johnny Gaddaar(2007)',
 '204.      Kaakha..Kaakha: The Police(2003)',
 '205.      Anjaam Pathiraa(2020)',
 '206.      Gangaajal(2003)',
 '207.      Vettaiyaadu Vilaiyaadu(2006)',
 '208.      Okkadu(2003)',
 '209.      Mumbai Police(2013)',
 '210.      Pokiri(2006)',
 '211.      The Lunchbox(2013)',
 '212.      Ab Tak Chhappan(2004)',
 '213.      Thuppakki(2012)',
 '214.      Oopiri(2016)',
 '215.      Karthikeya 2(2022)',
 '216.      Unnaipol Oruvan(2009)',
 '217.      Angamaly Diaries(2017)',
 '218.      RangiTaranga(2015)',
 '219.      Manam(2014)',
 '220.      Ghilli(2004)',
 '221.      Vicky Donor(2012)',
 '222.      Secret Superstar(2017)',
 '223.      Mother India(1957)',
 '224.      Veer-Zaara(2004)',
 '225.      Kaththi(2014)',
 '226.      Mimi(2021)',
 '227.      Sonchiriya(2019)',
 '228.      Dia(2020)',
 '229.      Rock On!!(2008)',
 '230.      Oru CBI Diary Kurippu(1988)',
 '231.      Stanley Ka Dabba(2011)',
 '232.      Mr. India(1987)',
 '233.      Nayak: The Real Hero(2001)',
 '234.      Thulladha Manamum Thullum(1999)',
 '235.      Happy Days(2007)',
 '236.      Udta Punjab(2016)',
 '237.      Minnal Murali(2021)',
 '238.      Aayirathil Oruvan(2010)',
 '239.      Badla(2019)',
 '240.      Raazi(2018)',
 '241.      Dasvidaniya(2008)',
 '242.      Poove Unakkaga(1996)',
 '243.      Kai po che!(2013)',
 '244.      Goodachari(2018)',
 '245.      Joji(2021)',
 '246.      Thiruchitrambalam(2022)',
 '247.      Ko(2011)',
 '248.      Don(1978)',
 '249.      Colour Photo(2020)',
 '250.      Ennu Ninte Moideen(2015)']

In [20]:
#get rating for movies
scraped_ratings= soup.find_all('td', class_= 'ratingColumn imdbRating')
scraped_ratings

[<td class="ratingColumn imdbRating">
 <strong title="8.5 based on 45,352 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 23,122 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 198,349 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 20,139 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 19,222 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 16,055 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 22,829 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 396,337 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 14,838 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 10,955 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 14,875 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 20,977 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 114,533 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,196 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,014 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 192,440 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,734 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 189,302 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 30,263 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 17,706 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,076 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 30,567 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 28,657 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,229 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 10,810 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 22,397 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,657 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 36,181 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,259 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 32,876 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,082 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 41,713 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 20,151 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 17,109 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,117 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,470 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 31,057 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 23,992 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 41,246 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 15,067 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 43,364 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 18,557 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,633 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,867 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,939 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 20,936 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 51,394 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 20,412 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,269 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 14,949 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,829 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 95,764 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 67,994 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 81,483 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,169 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 92,162 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 41,879 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,538 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,580 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,154 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 45,642 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,196 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,405 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 16,691 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 77,977 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 36,383 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 53,459 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,799 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,809 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 15,726 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,621 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 90,487 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 80,389 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 62,967 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,530 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 35,025 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,060 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 23,374 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,543 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 81,939 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 10,497 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,662 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 65,846 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 7,114 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 114,209 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 35,449 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 186,958 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,023 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 58,856 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 66,685 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 25,806 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,767 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 45,163 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 81,989 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 55,808 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 14,595 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 16,507 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,470 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 99,325 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,409 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 119,069 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 11,779 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,488 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,039 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 28,143 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 62,947 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 120,285 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 72,258 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 78,599 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 10,027 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,969 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,870 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 17,068 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 45,142 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 47,166 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 7,064 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 33,870 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,437 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,489 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 6,594 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 15,899 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 5,596 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 20,882 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 87,780 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 9,569 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,769 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 83,284 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 12,696 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 124,668 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 8,563 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.0 based on 24,610 user ratings">8.0</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 55,133 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 8,278 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 69,616 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 22,323 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,639 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 10,980 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,390 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 53,393 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 56,309 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,071 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,020 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,059 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,484 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 15,090 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 8,189 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,947 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 11,091 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 34,566 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 22,070 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,983 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 5,594 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 13,988 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 15,535 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 25,530 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 39,619 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,945 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,403 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,152 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 7,257 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 6,672 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 30,814 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.9 based on 107,095 user ratings">7.9</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,829 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 6,440 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,472 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 69,355 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,583 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 130,573 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 53,219 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 19,226 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 7,772 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 31,707 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 21,833 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 25,533 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 5,948 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 16,337 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 7,397 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 11,031 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 8,176 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 123,525 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 26,238 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="7.8 based on 9,521 user ratings">7.8</strong>
 </td>,
 <td class="ratingColumn imdbRating">

In [21]:
#parse rating 
ratings = []
for rating in scraped_ratings:
    rating = rating.get_text().replace('\n', '')
    ratings.append(rating)
ratings

['8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6']

In [22]:
data = pd.DataFrame()
data['Movie Names and year']= movies
data['Ratings'] = ratings

In [23]:
#Ans
data.head(100)

                          Movie Names and year Ratings
0     1.      Rocketry: The Nambi Effect(2022)     8.5
1                     2.      Anbe Sivam(2003)     8.4
2                       3.      Jai Bhim(2021)     8.4
3                        4.      Nayakan(1987)     8.4
4                        5.      Golmaal(1979)     8.4
..                                         ...     ...
95                  96.      Ustad Hotel(2012)     8.0
96   97.      The Legend of Bhagat Singh(2002)     8.0
97                    98.      Virumandi(2004)     8.0
98  99.      Baahubali 2: The Conclusion(2017)     8.0
99                      100.      Angoor(1982)     8.0

[100 rows x 2 columns]

In [51]:
#ques 4 Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
#from https://presidentofindia.nic.in/former-presidents.htm

In [52]:
url= 'https://presidentofindia.nic.in/former-presidents.htm'

In [53]:
page = requests.get(url)
page

In [54]:
soup = BeautifulSoup(page.content, "html.parser")

In [55]:
#making empty list
presedent_name = []
term_period = []

In [56]:
#sorting data in one variable
data = soup.find_all('div', class_ = 'presidentListing')

In [57]:
for store in data:
    dat = store.h3.text
    presedent_name.append(dat)
    
    term = store.p.text
    term_period.append(term)

In [58]:
presedent_name

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [59]:
term_period

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962']

In [60]:
#making a data frame 
data1 = pd.DataFrame({'Name of presidents': presedent_name, 'term period': term_period })

In [61]:
#Ans
data1

,Name of presidents,term period
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

In [62]:
#ques 5 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.

In [74]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [75]:
#A)
request=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/test")
odi=BeautifulSoup(request.content)

Name=[]
for i in odi.find_all('span',class_="u-hide-phablet"):
    Name.append(i.text)

Name=Name[0:10]   

Matches=[]
match=odi.find('td',class_="rankings-block__banner--matches")
for i in odi.find_all('td',class_="table-body__cell u-center-text"):
    Matches.append(i.text)
    
Matches=Matches[0:18:2]

Matches.insert(0,match.text)

Points=[]
point=odi.find('td',class_="rankings-block__banner--points")
for i in odi.find_all('td',class_="table-body__cell u-center-text"):
    Points.append(i.text)
    
Points=Points[1:19:2]

Points.insert(0,point.text)

Ratings=[]
rat=odi.find('td',class_="rankings-block__banner--rating u-text-right")
for i in odi.find_all('td',class_="table-body__cell u-text-right rating"):
    Ratings.append(i.text)
    
Ratings=Ratings[0:9]

Ratings.insert(0,rat.text.split()[0])



ODI_Team=pd.DataFrame({'Name':Name,'Matches':Matches,'Points':Points,'Ratings':Ratings})
ODI_Team

           Name Matches Points Ratings
0     Australia      19  2,439     128
1         India      29  3,318     114
2  South Africa      25  2,606     104
3       England      43  4,449     103
4   New Zealand      27  2,704     100
5      Pakistan      23  2,111      92
6     Sri Lanka      23  1,916      83
7   West Indies      25  1,988      80
8    Bangladesh      22  1,047      48
9      Zimbabwe       6    148      25

In [67]:
#B)
request=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/ODI/batting")
odibat=BeautifulSoup(request.content)

Name=[]
top=odibat.find('div',class_="rankings-block__banner--name-large")
name = odibat.find_all('td',class_="table-body__cell rankings-table__name name") 

for i in name:

    for j in i.find_all("a"):
        Name.append(j.text)
Name=Name[0:10]
Name.insert(0,top.text)

Team=[]
team=odibat.find('div',class_="rankings-block__banner--nationality")
for i in odibat.find_all('span',class_="table-body__logo-text"):
    Team.append(i.text)
    
Team=Team[0:10]
Team.insert(0,team.text.split()[0])

Rating=[]
rating=odibat.find('div',class_="rankings-block__banner--rating")
for i in odibat.find_all('td',class_="table-body__cell rating"):
    Rating.append(i.text)
    
Rating=Rating[0:10]
Rating.insert(0,rating.text)


ODI_Bat=pd.DataFrame({'Name':Name,'Team':Team,'Rating':Rating})
ODI_Bat

                     Name Team Rating
0              Babar Azam  PAK    890
1   Rassie van der Dussen   SA    789
2         Quinton de Kock   SA    784
3             Imam-ul-Haq  PAK    779
4             Virat Kohli  IND    744
5            Rohit Sharma  IND    740
6          Jonny Bairstow  ENG    732
7            David Warner  AUS    725
8             Ross Taylor   NZ    701
9             Steve Smith  AUS    697
10         Shikhar Dhawan  IND    696

In [69]:
#C)
request=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
odibow=BeautifulSoup(request.content)

Name=[]
top=odibow.find('div',class_="rankings-block__banner--name-large")
name = odibow.find_all('td',class_="table-body__cell rankings-table__name name") 

for i in name:

    for j in i.find_all("a"):
        Name.append(j.text)
Name=Name[0:9]
Name.insert(0,top.text)

Team=[]
team=odibow.find('div',class_="rankings-block__banner--nationality")
for i in odibow.find_all('span',class_="table-body__logo-text"):
    Team.append(i.text)
    
Team=Team[0:9]
Team.insert(0,team.text.split()[0])

Rating=[]
rating=odibow.find('div',class_="rankings-block__banner--rating")
for i in odibow.find_all('td',class_="table-body__cell rating"):
    Rating.append(i.text)
    
Rating=Rating[0:9]
Rating.insert(0,rating.text)
ODI_Bow=pd.DataFrame({'Name':Name,'Team':Team,'Rating':Rating})
ODI_Bow

               Name Team Rating
0       Trent Boult   NZ    775
1    Josh Hazlewood  AUS    718
2  Mujeeb Ur Rahman  AFG    676
3    Jasprit Bumrah  IND    662
4    Shaheen Afridi  PAK    661
5     Mohammad Nabi  AFG    657
6      Mehedi Hasan  BAN    655
7        Matt Henry   NZ    654
8    Mitchell Starc  AUS    653
9       Rashid Khan  AFG    651

In [72]:
#6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [76]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [78]:
request=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
odiw=BeautifulSoup(request.content)

Name=[]
for i in odiw.find_all('span',class_="u-hide-phablet"):
    Name.append(i.text)

Name=Name[0:10]   

Matches=[]
match=odiw.find('td',class_="rankings-block__banner--matches")
for i in odiw.find_all('td',class_="table-body__cell u-center-text"):
    Matches.append(i.text)
    
Matches=Matches[0:18:2]

Matches.insert(0,match.text)

Points=[]
point=odiw.find('td',class_="rankings-block__banner--points")
for i in odiw.find_all('td',class_="table-body__cell u-center-text"):
    Points.append(i.text)
    
Points=Points[1:19:2]

Points.insert(0,point.text)

Ratings=[]
rat=odiw.find('td',class_="rankings-block__banner--rating u-text-right")
for i in odiw.find_all('td',class_="table-body__cell u-text-right rating"):
     Ratings.append(i.text)
    
Ratings=Ratings[0:9]

Ratings.insert(0,rat.text.split()[0])

#(b)
request=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
odibatw=BeautifulSoup(request.content)

Name_b=[]
top=odibatw.find('div',class_="rankings-block__banner--name-large")
name = odibatw.find_all('td',class_="table-body__cell rankings-table__name name") 

for i in name:

    for j in i.find_all("a"):
        Name_b.append(j.text)
Name_b=Name_b[0:9]
Name_b.insert(0,top.text)

Team_b=[]
team=odibatw.find('div',class_="rankings-block__banner--nationality")
for i in odibatw.find_all('span',class_="table-body__logo-text"):
    Team_b.append(i.text)
    
Team_b=Team_b[0:9]
Team_b.insert(0,team.text.split()[0])

Rating_b=[]
rating=odibatw.find('div',class_="rankings-block__banner--rating")
for i in odibatw.find_all('td',class_="table-body__cell rating"):
    Rating_b.append(i.text)
    
Rating_b=Rating[0:9]
Rating_b.insert(0,rating.text)

#(c)
request=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
odiround=BeautifulSoup(request.content)

Name_r=[]
top=odiround.find('div',class_="rankings-block__banner--name-large")
name = odiround.find_all('td',class_="table-body__cell rankings-table__name name") 

for i in name:

    for j in i.find_all("a"):
        Name_r.append(j.text)
Name_r=Name_r[0:9]
Name_r.insert(0,top.text)

Team_r=[]
team=odiround.find('div',class_="rankings-block__banner--nationality")
for i in odiround.find_all('span',class_="table-body__logo-text"):
    Team_r.append(i.text)
    
Team_r=Team_r[0:9]
Team_r.insert(0,team.text.split()[0])

Rating_r=[]
rating=odiround.find('div',class_="rankings-block__banner--rating")
for i in odiround.find_all('td',class_="table-body__cell rating"):
    Rating_r.append(i.text)
    
Rating_r=Rating_r[0:9]
Rating_r.insert(0,rating.text)


ODI_Round=pd.DataFrame({'Name':Name_r,'Team':Team_r,'Rating':Rating_r})

ODI_BatW=pd.DataFrame({'Name':Name_b,'Team':Team_b,'Rating':Rating_b})

ODI_TeamW=pd.DataFrame({'Name':Name,'Matches':Matches,'Points':Points,'Ratings':Ratings})

print(ODI_TeamW)
print('-'*40)
print(ODI_BatW)
print('-'*40)
print(ODI_Round)

           Name Matches Points Ratings
0     Australia      29  4,837     167
1       England      34  4,097     121
2  South Africa      35  4,157     119
3         India      33  3,392     103
4   New Zealand      32  3,161      99
5   West Indies      31  2,815      91
6    Bangladesh      12    930      78
7      Pakistan      30  1,962      65
8       Ireland      11    516      47
9     Sri Lanka      11    495      45
----------------------------------------
                  Name Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    775
2       Natalie Sciver  ENG    718
3      Laura Wolvaardt   SA    676
4          Meg Lanning  AUS    662
5       Rachael Haynes  AUS    661
6      Smriti Mandhana  IND    657
7    Amy Satterthwaite   NZ    655
8     Harmanpreet Kaur  IND    654
9  Chamari Athapaththu   SL    653
----------------------------------------
                Name Team Rating
0       Ellyse Perry  AUS    374
1     Natalie Sciver  ENG    372
2     Marizanne Kapp   SA    349
3    Hayley Matthews   WI    339
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    271
6   Ashleigh Gardner  AUS    270
7      Jess Jonassen  AUS    246
8     Jhulan Goswami  IND    219
9  Sophie Ecclestone  ENG    217

In [79]:
#7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
#i) Headline
#ii) Time
#iii) News Link

In [24]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [25]:
url = 'https://www.cnbc.com/world/?region=world'
page = requests.get(url)
page

In [26]:
soup = BeautifulSoup(page.content, "html.parser")

In [27]:
data = soup.find_all('li', class_='LatestNews-iconCleared LatestNews-item')

In [28]:
headlines = []
newlink= []
time = []

In [29]:
for store in data:
    head = store.a.text
    headlines.append(head)

In [30]:
headlines

['Despite economic fears, 6 in 10 donors may give more to charity',
 '',
 "The labor market is still hot — for now. Here's what to consider before switching jobs",
 "You can get paid $15,000 to move to this Italian island, but there's a catch",
 'WHO warns ability to identify new Covid variants is falling as testing declines ',
 'Alex Karp says this tidal wave of macro risks will wipe out some companies',
 '',
 'Stocks making the biggest moves midday: Novavax, Darden Restaurants, Eli Lilly',
 'Amazon loses effort to exclude Jassy and Bezos from testifying in FTC Prime probe',
 '',
 '',
 '#NyquilChicken: Why TikTok and the FDA moved quickly to squash the trend',
 '',
 'Some of the best roles are posted on ‘hidden’ job boards—how to find them',
 '',
 '',
 '',
 '',
 'Ford to restructure supply chain after $1 billion in unexpected Q3 costs',
 "When to file the FAFSA to 'maximize' financial aid for college",
 '',
 'U.S. ratifies treaty to curb climate-warming chemicals in AC, refrigeration',
 'These are the top 10 U.S. cities with the biggest homes',
 "Bed Bath & Beyond's merchandise problems will make it hard to pull off a turnaround",
 'Racial minorities had higher rates of depression, anxiety during the pandemic',
 "Amazon's 'Thursday Night Football' debut gets 13 million viewers, according to Nielsen",
 'How much the $1.3 Mega Millions jackpot winners will take home after taxes',
 "A look at the Black Sea Grain Initiative, the deal that reopened Ukraine's ports",
 '',
 'Investing in Space: An eyebrow-raising SPAC']

In [31]:
for store in data:
    new = store.find('a')
    newlink.append(new.get("href"))

In [32]:
newlink

['https://www.cnbc.com/2022/09/22/despite-fears-of-a-recession-many-may-give-more-to-charity.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/22/what-to-consider-before-switching-jobs-now-.html',
 'https://www.cnbc.com/2022/09/22/get-paid-15000-to-move-to-sardinia-what-to-know.html',
 'https://www.cnbc.com/2022/09/22/who-warns-ability-to-identify-new-covid-variants-is-diminishing-as-testing-declines-.html',
 'https://www.cnbc.com/2022/09/22/palantir-ceo-alex-karp-says-tidal-wave-of-macroeconomic-risks-will-wipe-out-some-companies.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/22/stocks-making-the-biggest-moves-midday-novavax-darden-restaurants-eli-lilly-and-more.html',
 'https://www.cnbc.com/2022/09/22/amazon-cant-keep-jassy-bezos-from-testifying-in-ftc-prime-probe.html',
 '/pro/',
 '/pro/',
 'https://www.cnbc.com/2022/09/22/nyquilchicken-why-tiktok-fda-moved-quickly-to-squash-the-trend.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/22/how-to-find-hidden-job-market-roles.html',
 '/investingclub/',
 '/pro/',
 '/investingclub/',
 '/investingclub/',
 'https://www.cnbc.com/2022/09/22/ford-to-restructure-supply-chain-after-1-billion-in-unexpected-costs.html',
 'https://www.cnbc.com/2022/09/22/when-to-file-the-fafsa-to-get-more-financial-aid-for-college.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/22/us-approves-kigali-amendment-to-curb-climate-warming-chemicals.html',
 'https://www.cnbc.com/2022/09/22/the-top-10-us-cities-with-the-biggest-homes.html',
 'https://www.cnbc.com/2022/09/22/bed-bath-beyond-merchandise-problems-could-cripple-turnaround-plan.html',
 'https://www.cnbc.com/2022/09/22/racial-minorities-had-higher-rates-of-anxiety-and-depression-in-2021.html',
 'https://www.cnbc.com/2022/09/22/amazon-averaged-13-million-viewers-for-thursday-night-football-nielsen-data-shows.html',
 'https://www.cnbc.com/2022/09/22/how-much-money-mega-millions-jackpot-winners-take-home-after-taxes.html',
 'https://www.cnbc.com/2022/09/22/infographic-showing-black-sea-initiative-crops.html',
 '/pro/',
 'https://www.cnbc.com/2022/09/22/investing-in-space-an-eyebrow-raising-spac.html']

In [33]:
for store in data:
    tim = store.find('time', class_ = 'LatestNews-timestamp').text
    time.append(tim)

In [34]:
time

['19 Min Ago',
 '25 Min Ago',
 '35 Min Ago',
 '52 Min Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago']

In [35]:
data1= pd.DataFrame({'Headlines':headlines, 'News links':newlink, 'Time ago news update as live':time })

,Headlines,News links,Time ago news update as live
0,"Despite economic fears, 6 in 10 donors may giv...",https://www.cnbc.com/2022/09/22/despite-fears-...,19 Min Ago
1,,/pro/,25 Min Ago
2,The labor market is still hot — for now. Here'...,https://www.cnbc.com/2022/09/22/what-to-consid...,35 Min Ago
3,"You can get paid $15,000 to move to this Itali...",https://www.cnbc.com/2022/09/22/get-paid-15000...,52 Min Ago
4,WHO warns ability to identify new Covid varian...,https://www.cnbc.com/2022/09/22/who-warns-abil...,1 Hour Ago
5,Alex Karp says this tidal wave of macro risks ...,https://www.cnbc.com/2022/09/22/palantir-ceo-a...,1 Hour Ago
6,,/pro/,2 Hours Ago
7,Stocks making the biggest moves midday: Novava...,https://www.cnbc.com/2022/09/22/stocks-making-...,2 Hours Ago
8,Amazon loses effort to exclude Jassy and Bezos...,https://www.cnbc.com/2022/09/22/amazon-cant-ke...,2 Hours Ago
9,,/pro/,2 Hours Ago
10,,/pro/,2 Hours Ago
11,#NyquilChicken: Why TikTok and the FDA moved q...,https://www.cnbc.com/2022/09/22/nyquilchicken-...,2 Hours Ago
12,,/pro/,2 Hours Ago
13,Some of the best roles are posted on ‘hidden’ ...,https://www.cnbc.com/2022/09/22/how-to-find-hi...,2 Hours Ago
14,,/investingclub/,3 Hours Ago
15,,/pro/,3 Hours Ago
16,,/investingclub/,3 Hours Ago
17,,/investingclub/,3 Hours Ago
18,Ford to restructure supply chain after $1 bill...,https://www.cnbc.com/2022/09/22/ford-to-restru...,4 Hours Ago
19,When to file the FAFSA to 'maximize' financial...,https://www.cnbc.com/2022/09/22/when-to-file-t...,4 Hours Ago
20,,/pro/,4 Hours Ago
21,U.S. ratifies treaty to curb climate-warming c...,https://www.cnbc.com/2022/09/22/us-approves-ki...,4 Hours Ago
22,These are the top 10 U.S. cities with the bigg...,https://www.cnbc.com/2022/09/22/the-top-10-us-...,4 Hours Ago
23,Bed Bath & Beyond's merchandise problems will ...,https://www.cnbc.com/2022/09/22/bed-bath-beyon...,4 Hours Ago
24,Racial minorities had higher rates of depressi...,https://www.cnbc.com/2022/09/22/racial-minorit...,4 Hours Ago
25,Amazon's 'Thursday Night Football' debut gets ...,https://www.cnbc.com/2022/09/22/amazon-average...,4 Hours Ago
26,How much the $1.3 Mega Millions jackpot winner...,https://www.cnbc.com/2022/09/22/how-much-money...,5 Hours Ago
27,"A look at the Black Sea Grain Initiative, the ...",https://www.cnbc.com/2022/09/22/infographic-sh...,5 Hours Ago
28,,/pro/,5 Hours Ago
29,Investing in Space: An eyebrow-raising SPAC,https://www.cnbc.com/2022/09/22/investing-in-s...,5 Hours Ago

In [36]:
#8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
#https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
#Scrape below mentioned details :
#i) Paper Title
#ii) Authors
#iii) Published Date
#iv) Paper URL

In [37]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [38]:
url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'

In [39]:
page = requests.get(url)
page

In [40]:
soup = BeautifulSoup(page.content, "html.parser")

In [5]:
data5 = soup.find_all('li',class_='sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp')

In [6]:
#making empty list
mdvv=[]
auth=[]
pbd=[]
ppu=[]

In [7]:
for store in data5:
    mdv = store.a.text
    mdvv.append(mdv)

In [9]:
#A.mdvv means article
mdvv

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [10]:
for store in data5:
    aut = store.find('span',class_ = 'sc-1w3fpd7-0 pgLAT').text
    auth.append(aut)

In [11]:
#B. 
auth

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [12]:
#C
for store in data5:
    pp = store.find('a')
    ppu.append(pp.get("href"))

In [13]:
ppu

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [14]:
spans = soup.find_all('span', {'class': 'sc-1thf9ly-2 bKddwo'})

for span in spans:
    print(span.text)

October 2021
October 2021
October 2015
August 1998
June 2017
February 2019
April 2021
February 2015
August 1999
March 2020
February 2021
October 2007
August 2016
April 2021
December 1997
August 2021
September 2021
June 2021
December 2016
September 2021
May 2021
January 2014
December 1997
October 2021
February 2010

In [15]:
data1= pd.DataFrame({'Article Name':mdvv, 'Author`s name':auth, 'URL Links':ppu, 'Date':spans })

In [16]:
#Ans: find the final dataframe of all data which was asked to scrape
data1

,Article Name,Author`s name,URL Links,Date
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",https://www.sciencedirect.com/science/article/...,[[October 2021]]
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",https://www.sciencedirect.com/science/article/...,[[October 2021]]
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",https://www.sciencedirect.com/science/article/...,[[October 2015]]
3,Creativity and artificial intelligence,"Boden, Margaret A.",https://www.sciencedirect.com/science/article/...,[[August 1998]]
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",https://www.sciencedirect.com/science/article/...,[[June 2017]]
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",https://www.sciencedirect.com/science/article/...,[[February 2019]]
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",https://www.sciencedirect.com/science/article/...,[[April 2021]]
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",https://www.sciencedirect.com/science/article/...,[[February 2015]]
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",https://www.sciencedirect.com/science/article/...,[[August 1999]]
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",https://www.sciencedirect.com/science/article/...,[[March 2020]]
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",https://www.sciencedirect.com/science/article/...,[[February 2021]]
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",https://www.sciencedirect.com/science/article/...,[[October 2007]]
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",https://www.sciencedirect.com/science/article/...,[[August 2016]]
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",https://www.sciencedirect.com/science/article/...,[[April 2021]]
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",https://www.sciencedirect.com/science/article/...,[[December 1997]]
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",https://www.sciencedirect.com/science/article/...,[[August 2021]]
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",https://www.sciencedirect.com/science/article/...,[[September 2021]]
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",https://www.sciencedirect.com/science/article/...,[[June 2021]]
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",https://www.sciencedirect.com/science/article/...,[[December 2016]]
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",https://www.sciencedirect.com/science/article/...,[[September 2021]]
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",https://www.sciencedirect.com/science/article/...,[[May 2021]]
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",https://www.sciencedirect.com/science/article/...,[[January 2014]]
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",https://www.sciencedirect.com/science/article/...,[[December 1997]]
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",https://www.sciencedirect.com/science/article/...,[[October 2021]]
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",https://www.sciencedirect.com/science/article/...,[[February 2010]]

In [41]:
#9) Write a python program to scrape mentioned details from s :
#i) Restaurant name
#ii) Cuisine
#iii) Location
#iv) Ratings
#v) Image URL

In [42]:
url= 'https://www.dineout.co.in/delhi/castle-barbeque-connaught-place-central-delhi-86792'

In [43]:
page = requests.get(url)
page

In [44]:
soup = BeautifulSoup(page.content, "html.parser")

In [45]:
First_title= soup.find('h1').text

In [47]:
#A.
First_title

'Castle Barbeque'

In [48]:
Cuisine = soup.find('a',class_='text-ltgrey').text

In [49]:
#B.
print(Cuisine)

'Chinese'

In [50]:
#C.
Rating= soup.find('div',class_='cursor rest-rating rating-4_5').text
Rating

'4.1'

In [51]:
#D.
Location= soup.find('div',class_='restnt-name').text
Location

'Connaught Place | Delhi |  Get Direction'

In [53]:
#E
data = soup.find_all('div',class_='content marginT0')

images=[]

for store in data:
    image = store.find('img',class_='rdp-banner_img')
    images.append(image.get('src'))
    
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-large']

In [54]:
Data= pd.DataFrame({'Hotel Name':First_title, 'Rating':Rating, 'Image link':images,'Location':Location, 'Cuisine':Cuisine} )

In [55]:
Data

,Hotel Name,Rating,Image link,Location,Cuisine
0,Castle Barbeque,4.1,https://im1.dineout.co.in/images/uploads/resta...,Connaught Place | Delhi | Get Direction,Chinese

In [56]:
#10) Write a python program to scrape the details of top publications from Google Scholar from
#https://scholar.google.com/citations?view_op=top_venues&hl=en
#i) Rank
#ii) Publication
#iii) h5-index
#iv) h5-median

In [57]:
import numpy as np
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [58]:
url ='https://scholar.google.com/citations?view_op=top_venues&hl=en'

In [59]:
page = requests.get(url)
page

In [60]:
soup = BeautifulSoup(page.content, "html.parser")

In [61]:
#making empty dict:
Rank=[]
Publication=[]
h5_index=[]
h5_median=[]


#data sorting rank wise
ranks = soup.find_all('td', class_= 'gsc_mvt_p')

#data converting in text and using strip method
Ranks_ = []
for ran in ranks:
    ran= ran.get_text()
    ran = ran.strip(" ")
    Ranks_.append(ran)

Publicatn= soup.find_all('td',class_='gsc_mvt_t')

for p in Publicatn:
    p= p.get_text()
    p = p.strip(" ")
    Publication.append(p)
    
h5= soup.find_all('a', class_='gs_ibl gsc_mp_anchor')

for h in h5:
    h= h.get_text()
    h = h.strip(" ")
    h5_index.append(h)
    
median= soup.find_all('span',class_='gs_ibl gsc_mp_anchor')

for m in median:
    m= m.get_text()
    m = m.strip(" ")
    h5_median.append(m)

In [62]:
#Making data frame including all answers together:
publication_data= pd.DataFrame({'Ranks':Ranks_, 'Publication Name':Publication, 'h5_index':h5_index, 'h5_median':h5_median})

In [63]:
#Ans:
publication_dataS

   Ranks                                   Publication Name h5_index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]