# Web Scraping Assignment 4

Importing libraries

In [16]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [11]:
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")

Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank B) Name C) Artist D) Upload date E) Views

In [12]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [13]:
rank=[]
name=[]
artist=[]
views=[]
upload=[]

In [17]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [18]:
for i in driver.find_elements(By.XPATH,'//table[3]//tbody//tr//td[1]'):
    rank.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[3]//tbody//tr//td[2]'):
    name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[3]//tbody//tr//td[3]'):
    artist.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[3]//tbody//tr//td[4]'):
    views.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[3]//tbody//tr//td[5]'):
    upload.append(i.text)
    
    
que1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views(billions)':views,'Upload Date':upload})
que1

,Rank,Name,Artist,Views(billions),Upload Date
0,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","June 17, 2016","November 2, 2020"
1,"""Despacito""[6]",Luis Fonsi,"2,993,700,000","January 12, 2017","August 4, 2017"
2,"""See You Again""[16]",Wiz Khalifa,"2,894,000,000","April 6, 2015","July 10, 2017"
3,"""Gangnam Style""⁂[24]",Psy,"803,700,000","July 15, 2012","November 24, 2012"
4,"""Baby""*[61]",Justin Bieber,"245,400,000","February 19, 2010","July 16, 2010"
5,"""Bad Romance""[65]",Lady Gaga,"178,400,000","November 24, 2009","April 14, 2010"
6,"""Charlie Bit My Finger""‡[69]",HDCYT,"128,900,000","May 22, 2007","October 25, 2009"
7,"""Evolution of Dance""[72]",Judson Laipply,"118,900,000","April 6, 2006","May 2, 2009"
8,"""Girlfriend""‡[74][75]",RCA Records,"92,600,000","February 27, 2007","July 17, 2008"
9,"""Evolution of Dance""[72]",Judson Laipply,"78,400,000","April 6, 2006","March 15, 2008"
10,"""Music Is My Hot Hot Sex""‡[79]",CLARUSBARTEL72,"76,600,000","April 9, 2007","March 1, 2008"
11,"""Evolution of Dance""*[72]",Judson Laipply,"10,600,000","April 6, 2006","May 19, 2006"
12,"""Pokémon Theme Music Video""‡[85]",Smosh,"4,300,000","November 28, 2005","March 12, 2006"
13,"""Myspace – The Movie""‡[90][91]",eggtea,"2,700,000","January 31, 2006","February 18, 2006"
14,"""Phony Photo Booth""‡[94]",mugenized,"3,400,000","December 1, 2005","January 21, 2006"
15,"""The Chronic of Narnia Rap""‡[96]",youtubedude,"2,300,000","December 18, 2005","January 9, 2006"
16,"""Ronaldinho: Touch of Gold""‡*[98]",Nikesoccer,"255,000","October 21, 2005","October 31, 2005"
17,"""I/O Brush""‡*[101]",larfus,"247,000","October 5, 2005","October 29, 2005"
18,"""Me at the zoo""[103]",jawed,1,"April 23, 2005","April 23, 2005"

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [19]:
url='https://www.bcci.tv/'
driver.get(url)
driver.maximize_window()
time.sleep(3)

In [21]:
intn=driver.find_element(By.XPATH,'/html/body/nav/div/div[2]/ul[1]/li[2]/a')
intn.click()

In [22]:
title=[]
for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    title.append(i.text)
    
series=[]
for i in driver.find_elements(By.XPATH,'//h5[@class="fix-text"]//span[@class="ng-binding"]'):
    series.append(i.text)
    
place=[]
for i in driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]'):
    place.append(i.text.split("-")[1])
    
date=[]
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]//h5'):
    date.append(i.text)
    
time=[]
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]//h5'):
    time.append(i.text)
    
que2=pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
que2

,Match Title,Series,Place,Date,Time
0,5th T20I -,ICC MENS T20 WORLD CUP 2022,"Melbourne Cricket Ground, Melbourne",6 NOV 2022,1:30 PM IST
1,1st T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Sky Stadium, Wellington",18 NOV 2022,12:00 PM IST
2,2nd T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Bay Oval, Mount Maunganui",20 NOV 2022,12:00 PM IST
3,3rd T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Mclean Park, Napier",22 NOV 2022,12:00 PM IST
4,1st ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Eden Park, Auckland",25 NOV 2022,7:00 AM IST
5,2nd ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Seddon Park, Hamilton",27 NOV 2022,7:00 AM IST
6,3rd ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Hagley Oval, Christchurch",30 NOV 2022,7:00 AM IST
7,1st ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur, Dhaka",4 DEC 2022,12:30 PM IST

3.Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details: A) Name B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [26]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [46]:
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [58]:


# Connecting to the webpage "https://www.guru99.com/"

url = "https://www.guru99.com/"
driver.get(url)

# Click on selenium in Testing Section

click_on_selenium = driver.find_element(By.XPATH,'//*[@id="java_technologies"]/li[3]/a')
click_on_selenium.click()

time.sleep(5)

# Clic on Selenium Exception Handling

selenium_exception = driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
selenium_exception.click()

# Names

names = []
name = driver.find_elements(By.XPATH,'//table[@class="table table-striped"]//tr//td[1]')
for i in name:
    names.append(i.text)


# Description

description = []
desc = driver.find_elements(By.XPATH,'//table[@class="table table-striped"]//tr//td[2]')
for i in desc:
    description.append(i.text)
    
# Data Frame

Details = pd.DataFrame()
Details["Name"] = names
Details["Description"] = description

Details

Empty DataFrame
Columns: [Name, Description]
Index: []

Question No.4 :
Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [67]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "http://statisticstimes.com/"
driver.get(url)

time.sleep(5)

# Click on India in Economy Section

india_link = []
india = driver.find_element(By.XPATH,'//div[@class="navbar"]//div[2]//a[3]')
india_link.append(india.get_attribute("href"))

time.sleep(5)

# Click on GDP of indian states

for i in india_link:
    driver.get(i)
    india_gdp = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]//li[1]//a')
    india_gdp.click()
    
    time.sleep(5)
    
    # Create empty required lists
    
    rank = []
    state = []
    gsdp_19_20 = []
    gsdp_18_19 = []
    share_18_19 = []
    gdp_billion = []
    
    # Finding the all elements
    
    rnk = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[1]')
    stat = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[2]')
    gsd_19_20 = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[3]')
    gsd_18_19 = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[4]')
    share = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[5]')
    billion = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[6]')
    
    # Filling the all empty lists
    
    for j in rnk:
        rank.append(j.text)
    for j in stat:
        state.append(j.text)
    for j in gsd_19_20:
        gsdp_19_20.append(j.text)
    for j in gsd_18_19:
        gsdp_18_19.append(j.text)
    for j in share:
        share_18_19.append(j.text)
    for j in billion:
        gdp_billion.append(j.text)
        
# Data Frame
    
State_wise_GDP = pd.DataFrame()
State_wise_GDP["Rank"] = rank
State_wise_GDP["State"] = state
State_wise_GDP["GSDP at current price (19-20)"] = gsdp_19_20
State_wise_GDP["GSDP at current price (18-19)"] = gsdp_18_19
State_wise_GDP["Share(18-19)"] = share_18_19
State_wise_GDP["GDP($ billion)"] = gdp_billion

State_wise_GDP

<selenium.webdriver.chrome.webdriver.WebDriver (session="ad78edb702a0bb95a5fa83ef782855ee")>

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Question No. 5 :
Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [ ]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://github.com/"
driver.get(url)

time.sleep(3)

# Find the trending link from Explore

trending = []
tren = driver.find_element(By.XPATH,'//ul[2][@class="list-style-none mb-3"]//li[3]//a')
trending.append(tren.get_attribute("href"))

# Going to trending option

for i in trending:
    driver.get(i)
    time.sleep(3)
    
    # Create required empty lists
    
    title = []
    description = []
    count = []
    language = []
    
    # Finding the all elements
    
    tit = driver.find_elements(By.XPATH,'//article[@class="Box-row"]//h1')
    des = driver.find_elements(By.XPATH,'//article[@class="Box-row"]//p')
    cou = driver.find_elements(By.XPATH,'//div[@class="f6 color-text-secondary mt-2"]//span[3]')
    lang = driver.find_elements(By.XPATH,'//div[@class="f6 color-text-secondary mt-2"]//span//span[2]')
    
    # Filling the all empty lists
    
    for j in tit:
        try:
            title.append(j.text)
        except:
            title.append("-")
    for j in des:
        try:
            description.append(j.text)
        except:
            description.append("-")
    for j in cou:
        try:
            count.append(j.text)
        except:
            count.append("-")
    for j in lang:
        try:
            language.append(j.text)
        except:
            language.append("-")
            
# Data Frame

Top_5_Trending_Repositories = pd.DataFrame(index = list(range(1,6)))
Top_5_Trending_Repositories["Repository Title"] = title[:5]
Top_5_Trending_Repositories["Repository Description"] = description[:5]
Top_5_Trending_Repositories["Contributors Count"] = count[:5]
Top_5_Trending_Repositories["Language Used"] = language[:5]

Top_5_Trending_Repositories

Question No. 6 :
Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [ ]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://www.billboard.com/"
driver.get(url)

time.sleep(3)

# Find the hot-100 link page

hot_100 = []
hot = driver.find_element(By.XPATH,'//span[@class="header__submenu__container"]//li[1]//a')
hot_100.append(hot.get_attribute("href"))

# Going to hot-100 link page

for i in hot_100:
    driver.get(i)
    time.sleep(5)
    
    # Create required empty lists
    
    song = []
    artist = []
    last_weak = []
    peak_rank = []
    on_board = []
    
    # Finding the all elements
    
    sng = driver.find_elements(By.XPATH,'//span[@class="chart-element__information__song text--truncate color--primary"]')
    artst = driver.find_elements(By.XPATH,'//span[@class="chart-element__information__artist text--truncate color--secondary"]')
    lst_wk = driver.find_elements(By.XPATH,'//div[@class="chart-element__meta text--center color--secondary text--last"]')
    pek_rnk = driver.find_elements(By.XPATH,'//div[@class="chart-element__meta text--center color--secondary text--peak"]')
    on_brd = driver.find_elements(By.XPATH,'//div[@class="chart-element__meta text--center color--secondary text--week"]')
    
    # Filling the all empty lists
    
    for j in sng:
        try:
            song.append(j.text)
        except:
            song.append("-")
    for j in artst:
        try:
            artist.append(j.text)
        except:
            artist.append("-")
    for j in lst_wk:
        try:
            last_weak.append(j.text)
        except:
            last_weak.append("-")
    for j in pek_rnk:
        try:
            peak_rank.append(j.text)
        except:
            peak_rank.append("-")
    for j in on_brd:
        try:
            on_board.append(j.text)
        except:
            on_board.append("-")
            
# Data Frame

Top_100_Songs = pd.DataFrame(index = list(range(1,101)))
Top_100_Songs["Song Name"] = song
Top_100_Songs["Artist Name"] = artist
Top_100_Songs["Last Week Rank"] = last_weak
Top_100_Songs["Peak Rank"] = peak_rank
Top_100_Songs["Weeks on Board"] = on_board

Top_100_Songs

Question No. 7 :
Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [ ]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://www.naukri.com/"
driver.get(url)

time.sleep(3)

# Find the Recruiter Link

recruiter = []
rect = driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
recruiter.append(rect.get_attribute("href"))

for i in recruiter:
    driver.get(i)
    time.sleep(3)
    
    # Sending the required keys to search box
    keys = driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Science")

    # Click on Search Button
    driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()
    
    # Create required empty lists
    
    name = []
    designation = []
    company = []
    skills = []
    location = []
    
    # Finding the all elements
    
    nam = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    des = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    com = driver.find_elements_by_xpath('//a[2][@class="ellipsis"]')
    skil = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    loc = driver.find_elements_by_xpath('//p[@class="highlightable"]//small')
    
    # Filling the all empty lists
    
    for j in nam:
        try:
            name.append(j.text)
        except:
            name.append("-")
    for j in des:
        try:
            designation.append(j.text)
        except:
            designation.append("-")
    for j in com:
        try:
            company.append(j.text)
        except:
            company.append("-")
    for j in skil:
        try:
            skills.append(j.text)
        except:
            skills.append("-")
    for j in loc:
        try:
            location.append(j.text)
        except:
            location.append("-")
            
# Data Frame

Recruiter = pd.DataFrame(index = list(range(1,26)))
Recruiter["Name"] = name[:25]
Recruiter["Designation"] = designation[:25]
Recruiter["Company"] = company[:25]
Recruiter["Skills"] = skills[:25]
Recruiter["Location"] = location[:25]

Recruiter

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import time

In [4]:
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
print(driver)

C:\Users\USER\AppData\Local\Temp/ipykernel_11104/2845483631.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")

<selenium.webdriver.chrome.webdriver.WebDriver (session="ec4d1fecb9a6bc5e831233572fd5ea98")>

In [5]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(3)

In [9]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [10]:
book=[]
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[2]'):
    book.append(i.text)
    
author=[]
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[3]'):
    author.append(i.text)
    
volume=[]
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[4]'):
    volume.append(i.text)
    
publisher=[]
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[5]'):
    publisher.append(i.text)
    
genre=[]
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[6]'):
    genre.append(i.text)
    
que8=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sales':volume,'Publisher':publisher,'Genre':genre})

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [7]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [12]:
name=[]
for i in driver.find_elements(By.XPATH,'//h3//a'):
    name.append(i.text)

year=[]
for i in driver.find_elements(By.XPATH,'//h3//span[@class="lister-item-year text-muted unbold"]'):
    year.append(i.text)
    
genre=[]
for i in driver.find_elements(By.XPATH,'//p//span[@class="genre"]'):
    genre.append(i.text)
    
runtime=[]
for i in driver.find_elements(By.XPATH,'//p//span[@class="runtime"]'):
    runtime.append(i.text)
    
rating=[]
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[@class="ipl-rating-star__rating"]'):
    rating.append(i.text)
    
vote=[]
for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
    vote.append(i.text)
    
que9=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Runtime':runtime,'Rating':rating,'Votes':vote})
que9

,Name,Year Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,078,524"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,168,805"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"979,416"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,543"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,600"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,970"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,102"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,618"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,424"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"242,781"

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [13]:
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(3)

In [14]:
all=driver.find_element(By.XPATH,'//span[@class="whitetext"]//b')
all.click()

In [15]:
name=[]
for i in driver.find_elements(By.XPATH,'//b//a'):
    name.append(i.text)
    
tyep=[]
for i in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]'):
    tyep.append(i.text)
tyep.pop(0)

task=[]
for i in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]'):
    task.append(i.text)
task.pop(0)

att_type=[]
for i in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]'):
    att_type.append(i.text)
att_type.pop(0)

inst=[]
for i in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]'):
    inst.append(i.text)
inst.pop(0)

att=[]
for i in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]'):
    att.append(i.text)
att.pop(0)

year=[]
for i in driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]'):
    year.append(i.text)
year.pop(0)

que10=pd.DataFrame({'Name':name,'Data Type':tyep,'Default Task':task,'Attribute Type':att_type,'Instances':inst,'Attributes':att,'Year':year})
que10

,Name,Data Type,Default Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021