# WEB SCRAPING – ASSIGNMENT 2

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install StaleElementRefrenceException

ERROR: Could not find a version that satisfies the requirement StaleElementRefrenceException (from versions: none)
ERROR: No matching distribution found for StaleElementRefrenceException

In [3]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [4]:
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
#Putting tittle name
destination=driver.find_element(By.CLASS_NAME,"suggestor-input ")
destination.send_keys('Data Analyst')

In [8]:
#puting location 
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [10]:
#Clicking on search to get the best results
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [11]:
#Making an empty dict
jobtittle=[]
joblocation=[]
experincerequired=[]
companyname=[]

In [12]:
#Getting the tittle names list
tittle_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tittle_tags[0:10]:
    tittle = i.text
    jobtittle.append(tittle)

In [13]:
jobtittle

['Data Analyst - CRM Platform',
 'Payroll Transformation Data Analyst',
 'Master Data Management Business Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst | Fortune500 Retail Company']

In [16]:
#getting the job location data
location_=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_[0:10]:
    l = i.text
    joblocation.append(l)

In [17]:
joblocation

['Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
#getting the exp info
exp=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    e = i.text
    experincerequired.append(e)

In [19]:
experincerequired

['1-6 Yrs',
 '5-10 Yrs',
 '6-8 Yrs',
 '6-8 Yrs',
 '7-12 Yrs',
 '7-12 Yrs',
 '7-10 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '3-8 Yrs']

In [20]:
#getting the company name
comp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp[0:10]:
    c = i.text
    companyname.append(c)
companyname

['Artech infosystem',
 'Arrow Electronics',
 'Accenture',
 'Accenture',
 'ANZ',
 'ANZ',
 'TEKsystems',
 'Goalreify Ventures',
 'Goalreify Ventures',
 'Talent500']

In [ ]:
#At last making the data frame of all the data scraped.

In [21]:
job_data=pd.DataFrame({'job tittle':jobtittle, 'company name':companyname, 'experience required':experincerequired, 'job location':joblocation })

In [22]:
job_data

,job tittle,company name,experience required,job location
0,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
1,Payroll Transformation Data Analyst,Arrow Electronics,5-10 Yrs,Bangalore/Bengaluru
2,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru
3,Data Analytics and Interpretation Business Ana...,Accenture,6-8 Yrs,Bangalore/Bengaluru
4,Data Analyst,ANZ,7-12 Yrs,Bangalore/Bengaluru
5,Data Analyst,ANZ,7-12 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,TEKsystems,7-10 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Goalreify Ventures,3-6 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Goalreify Ventures,4-6 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst | Fortune500 Retail Company,Talent500,3-8 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [37]:
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [38]:
driver.get("https://www.naukri.com/")

In [39]:
#Putting tittle name
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [40]:
#puting location 
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [41]:
#Clicking on search to get the best results
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [42]:
#Making an empty dict
jobtittle1=[]
joblocation1=[]
companyname1=[]

In [43]:
#Getting the tittle names list
tittle_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tittle_tags[0:10]:
    tittle = i.text
    jobtittle1.append(tittle)

In [44]:
jobtittle1

['Data Science Specialist',
 'Data Science Manager',
 'Mongodb Database Administrator, Maria DB or Cassandra',
 'Analystics & Modeling Specialist',
 'Senior Data Scientist',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Opportunity For Senior Data Scientist/ Business Analyst with PayU',
 'Exciting opportunity For model monitoring/model validation role!!',
 'Data Scientist: Artificial Intelligence']

In [45]:
#getting the job location data
location_=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_[0:10]:
    l = i.text
    joblocation1.append(l)

In [48]:
#getting the company name
comp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp[0:10]:
    c = i.text
    companyname1.append(c)
companyname1

['Accenture',
 'Accenture',
 'Mphasis',
 'Accenture',
 'Boston Consulting Group',
 'CitiusTech',
 'Tech Mahindra',
 'PayU',
 'EXL',
 'IBM']

In [49]:
job_data1=pd.DataFrame({'job tittle':jobtittle1, 'company name':companyname1, 'job location':joblocation1 })

In [50]:
job_data1

,job tittle,company name,job location
0,Data Science Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Data Science Manager,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
2,"Mongodb Database Administrator, Maria DB or Ca...",Mphasis,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
3,Analystics & Modeling Specialist,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
4,Senior Data Scientist,Boston Consulting Group,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"
5,Assistant Manager - Data Science,CitiusTech,"Bangalore/Bengaluru, Mumbai, Pune"
6,Data Scientist,Tech Mahindra,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
7,Opportunity For Senior Data Scientist/ Busines...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /..."
8,Exciting opportunity For model monitoring/mode...,EXL,"Bangalore/Bengaluru, New Delhi, Gurgaon/Gurugr..."
9,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [1]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [4]:
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

driver.get("https://www.naukri.com/")

#Putting title name
destination=driver.find_element(By.CLASS_NAME,"suggestor-input ")
destination.send_keys('Data Scientist')

#Clicking on search to get the best results
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [5]:
#setting filter
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
search.click()

In [6]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/i')
search.click()

In [7]:
#Making an empty dict
jobtitle=[]
companyname=[]

In [8]:
#Getting the tittle names list
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    jobtitle.append(title)

In [9]:
jobtitle

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Data Scientist - Engine Algorithm',
 'Data Activation Specialist - Adobe Target',
 'Data Scientist',
 'Data Scientist']

In [10]:
#getting the company name
comp=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp[0:10]:
    c = i.text
    companyname.append(c)
companyname

['GlobalLogic',
 'Boston Consulting Group',
 'IHS Markit',
 'R Systems International',
 'Optum',
 'Big Seo Buzz',
 'Primo Hiring',
 'Okda Solutions',
 'NGI Ventures',
 'torcai digital media']

In [11]:
job_data=pd.DataFrame({'job title':jobtitle,'Company Name':companyname })
job_data

                                   job title             Company Name
0                             Data Scientist              GlobalLogic
1            DigitalBCG GAMMA Data Scientist  Boston Consulting Group
2                             Data Scientist               IHS Markit
3                        Lead Data Scientist  R Systems International
4                             Data Scientist                    Optum
5        Data Scientist / Chat-bot Developer             Big Seo Buzz
6          Data Scientist - Engine Algorithm             Primo Hiring
7  Data Activation Specialist - Adobe Target           Okda Solutions
8                             Data Scientist             NGI Ventures
9                             Data Scientist     torcai digital media

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [27]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [28]:
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

In [29]:
driver.get("https://www.flipkart.com/")

In [30]:
#Putting product name at the search bar
name=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
name.send_keys('sunglasses')

In [32]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [33]:
page_url = [] # a list containg url's of every page
url = driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))

In [34]:
name=[]
des=[]
price=[]
dis=[]
for i in page_url[:3]:
    driver.get(i)
    title=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in title:
         name.append(i.text)
            
    desc=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in desc:
        des.append(i.text)
        
    amount=driver.find_elements(By.CLASS_NAME,'_30jeq3')
    for i in amount:
        price.append(i.text)
        
    less=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in less:
        dis.append(i.text)

In [35]:
name=name[:100]
des=des[:100]
price=price[:100]
dis=dis[:100]

que4=pd.DataFrame({'Name':name,'Description':des,'Price':price,'Discount':dis})

In [36]:
que4

,Name,Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹999,60% off
1,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649,74% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
4,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179,86% off
...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹254,88% off
96,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹449,30% off
97,Fastrack,UV Protection Retro Square Sunglasses (54),₹999,10% off
98,Ray-Ban,UV Protection Retro Square Sunglasses (55),₹499,67% off
99,VINCENT CHASE,UV Protection Round Sunglasses (47),₹699,42% off

In [49]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [39]:
# Question 5

driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [41]:
page_url = [] # a list containg url's of every page
url = driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))

In [42]:
rating=[]
review=[]
fullre=[]
for i in page_url:
    driver.get(i)
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
    rev=driver.find_elements(By.CLASS_NAME,"_2-N8zT")
    for i in rev:
        review.append(i.text)
    fr=driver.find_elements(By.CLASS_NAME,"t-ZTKy")
    for i in fr:
        fullre.append(i.text)

In [43]:
rating=rating[:100]
review=review[:100]
fullre=fullre[:100]

que5=pd.DataFrame({'Rating':rating,'Review Summary':review,'Full Review':fullre})

In [50]:
#importing all liabraries
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import time

In [51]:
# Question 6

driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

url='https://www.flipkart.com/'
driver.get(url)

In [54]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('sneakers')

click=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
click.click()

In [56]:
page_url = [] # a list containg url's of every page
url = driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute('href'))
    
name=[]
des=[]
price=[]
dis=[]
for i in page_url[:3]:
    driver.get(i)
    title=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in title:
         name.append(i.text)
            
    desc=driver.find_elements(By.CLASS_NAME,'IRpwTa' or 'IRpwTa _2-ICcC')
    for i in desc:
        des.append(i.text)
        
    amount=driver.find_elements(By.CLASS_NAME,'_30jeq3')
    for i in amount:
        price.append(i.text)
        
    less=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in less:
        dis.append(i.text)
        
        
name=name[:100]
des=des[:100]
price=price[:100]
dis=dis[:100]

que6=pd.DataFrame({'Name':name,'Description':des,'Price':price,'Discount':dis})
que6

,Name,Description,Price,Discount
0,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470,63% off
1,Labbin,Sneakers For Men,₹499,50% off
2,RED TAPE,Sneakers For Men,"₹1,499",70% off
3,JACK & JONES,Sneakers For Men,"₹1,959",30% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259,56% off
...,...,...,...,...
95,JACK & JONES,Sneakers For Men,₹399,18% off
96,Bantox,Running Casual Lightweight Gym Walking Street ...,₹332,60% off
97,ASTEROID,Original Luxury Branded Black Fancy Casual Wal...,"₹1,249",50% off
98,RED CHIEF,Sneakers For Men,₹269,40% off
99,JACK & JONES,Sneakers For Men,₹399,30% off

In [58]:
# Question 7 

driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

url='https://www.myntra.com/shoes'
driver.get(url)

black=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
black.click()

In [61]:
price=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price.click()

In [63]:
name=[]
des=[]
price=[]
for i in range(2):
    
    brand=driver.find_elements(By.CLASS_NAME,'product-brand')
    for i in brand:
        name.append(i.text)
        
    desc=driver.find_elements(By.CLASS_NAME,'product-product')
    for i in desc:
        des.append(i.text)
        
    pr=driver.find_elements(By.CLASS_NAME,'product-price')
    for i in pr:
        price.append(i.text)
        
    Next=driver.find_element(By.XPATH,'//a[@rel="next"]    ')
    Next.click
    
    
que7=pd.DataFrame({'Brand Name':name,'Short Description':des,'Price':price})
que7

,Brand Name,Short Description,Price
0,Skechers,Men Go Walk Walking Shoes,Rs. 7499
1,PUMA Motorsport,Unisex MAPF1 Drift Sneakers,Rs. 8999
2,Nike,Men JORDAN LOW Basketball Shoe,Rs. 12795
3,ADIDAS,Men Response Super 3.0 Run,Rs. 8999
4,Nike,Men Running Shoes,Rs. 7495
...,...,...,...
95,Skechers,Men Sky Vault Walking Shoes,Rs. 8999
96,Skechers,Men Sports Shoes,Rs. 7999
97,Ruosh,Men Textured Leather Loafers,Rs. 7990
98,ADIDAS Originals,Women Superstar Sneakers,Rs. 8999Rs. 9999(10% OFF)
99,Xtep,Men Skateboarding Shoes,Rs. 8599

In [65]:
#Q.8
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

url='https://www.amazon.in/'
driver.get(url)

text=driver.find_element(By.ID,'twotabsearchtextbox')
text.send_keys('Laptop')

search=driver.find_element(By.ID,'nav-search-submit-button')
search.click()

In [66]:
title=[]
rank=[]
price=[]
for i in range(2):
    
    tit=driver.find_elements(By.CLASS_NAME,'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal')
    for i in tit:
        title.append(i.text)
        
    ran=driver.find_elements(By.CLASS_NAME,'a-icon a-icon-star-small a-star-small-4 aok-align-bottom')
    for i in ran:
        rank.append(i.text)
        
    pr=driver.find_elements(By.CLASS_NAME,'a-price-whole')
    for i in pr:
        price.append(i.text)

In [81]:
#Question no 9 skiped as per organisation

In [75]:
# Question 10

driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (2)\chromedriver.exe")

url='https://www.ambitionbox.com/'
driver.get(url)

In [ ]:
salary=driver.find_element(By.XPATH,'//a[@title="Company Salaries"]')
salary.click()

search=driver.find_element(By.ID,'jobProfileSearchbox')
search.send_keys('Data Scientist')

In [ ]:
click=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
click.click()

In [ ]:
name=[]
na=driver.find_elements_by_xpath('//div[@class="name"]')
for i in na:
    name.append(i.text.split('\n')[0])
    
total_salary=[]
ts=driver.find_elements_by_xpath('//div[@class="name"]')
for i in ts:
    total_salary.append(i.text.split('\n')[1])
    
exp=[]
ex=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in ex:
    exp.append(i.text.split('\n')[2])
    
avg_sal=[]
avg=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in avg:
    avg_sal.append(i.text)
    
min_sal=[]
mins=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in mins:
    min_sal.append(i.text)
    
min_sal=min_sal[0::2]

max_sal=[]
maxs=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in maxs:
    max_sal.append(i.text)
    
max_sal=max_sal[0::2]

que10=pd.DataFrame({'Company Name':name,'Total Salary':total_salary,'Experience':exp,'Average Salary':avg_sal,'Minimum Salary':min_sal,'Maximum Salary':max_sal})